
.cardMain {
    margin: 10px 0px;
}

.cardDes {
    background: rgb(247, 243, 243);
    border: 1ch
}

.card-body{
    padding: 1.0rem;
}

.cardDet {
    border: 0ch;
    font-family: "Oxygen","Ubuntu","Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: .894rem;
    font-weight: 400;
    margin: 0px;
}

.cardCom {
    border-top: 0.5px solid #ccc;
    font-family: "Segoe UI","Oxygen","Ubuntu","Roboto",-apple-system,BlinkMacSystemFont,"Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: .894rem;
    font-weight: 400;
    margin: 0px;
}

.btn-user-profile{
    border-radius: 100%;
    border: rgb(170, 200, 170) solid 3px;
    background: rgb(168, 194, 183);
    font-size: 14pt;
    font-weight: 500;
    margin: 0%;
}