<div class="card cardMain">
  <div class="card-body">
    <b>Ticket Title:</b>
  </div>

  <div class="card cardDes">
    <div class="card-body">
      <b>Description:</b>
      <p>Currently, the product list displays the name and description of each product. The product list component also
        defines a products property that contains imported data for each product from the products array in products.ts.

        The next step is to create a new alert feature that takes a product as an input. The alert checks the product's
        price, and, if the price is greater than $700, displays a "Notify Me" button that lets users sign up for
        notifications when the product goes on sale.</p>
    </div>
  </div>


  <div class="card-body">
    <b>variations:</b>
    <p class="cardDet">The next step is to create a new alert feature that takes a product as an input. The alert checks the product's
      price, and, if the price is greater than $700, displays a "Notify Me" button that lets users sign up for
      notifications when the product goes on sale.</p>
  </div>


  <div class="card-body">
    <b>Targeting:</b>
    <p class="cardDet">Currently, the product list displays the name and description of each product. The product list component also
      defines a products property that contains imported data for each product from the products array in products.ts.</p>
  </div>


  <div class="card-body">
    <b>Audience:</b>
    <p class="cardDet">Currently, the product list displays the name and description of each product. The product list component also
      defines a products that lets users sign up for notifications when the product goes on sale.</p>
  </div>

</div>
