body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

.bg-sidebar-color {
    /* background: rgb(200, 110, 255)!important; */
    color: aliceblue;
    border-color: #4d80b9;
    background: -moz-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(99, 154, 195, 1)), color-stop(100%, rgba(0, 58, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#639ac3', endColorstr='#003a66', GradientType=0);
    /* background: rgb(99, 154, 195); */
}

.bg-nav-color {
    /* background: rgb(200, 110, 255)!important; */
    color: aliceblue!important;
    border-color: #4d80b9!important;
    background: -moz-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(99, 154, 195, 1)), color-stop(100%, rgba(0, 58, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#639ac3', endColorstr='#003a66', GradientType=0);
    /* background: rgb(99, 154, 195)!important; */
}

.bg-nav-opt-color {
    /* background: rgb(200, 110, 255)!important; */
    color: aliceblue!important;
    border-color: #4d80b9!important;
    background: -moz-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(99, 154, 195, 1)), color-stop(100%, rgba(0, 58, 102, 1)));
    background: -webkit-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -o-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    background: -ms-linear-gradient(top, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%);
    /* background: linear-gradient(to bottom, rgba(99, 154, 195, 1) 0%, rgba(0, 58, 102, 1) 100%); */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#639ac3', endColorstr='#003a66', GradientType=0);
    /* background: rgb(99, 154, 195)!important; */
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem .25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

#icon {
    width: 200px;
    height: 100px;
}