<!-- <div class="card card-task mt-3" (click)="test(ticket.id)" *ngFor="let ticket of tickets; let i = index">

  <div class="progress" style="height: 2px">
    <div *ngIf="ticket.status=='New'" class="progress-bar bg-info" role="progressbar" style="width: 1%"
      aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
    <div *ngIf="ticket.status=='InProcess'" class="progress-bar  bg-warning" role="progressbar" style="width: 55%"
      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    <div *ngIf="ticket.status=='Testing'" class="progress-bar  bg-secondary" role="progressbar" style="width: 15%"
      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    <div *ngIf="ticket.status=='Completed'" class="progress-bar bg-success" role="progressbar" style="width: 100%"
      aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
    <div *ngIf="ticket.status=='Cancelled'" class="progress-bar  bg-danger" role="progressbar" style="width: 15%"
      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="row card-body">
    <div class="col col-md-1">
      <h5>{{i+1}}</h5>
    </div>
    <div class="col col-md-9">
      <h5 class="card-title">Title:{{ticket.title}} </h5>
      <p class="card-text">Description:{{ticket.description}}</p>
    </div>
    <div *ngIf="ticket.status=='New'" class="col col-md-2 text-info text-center"> New </div>
    <div *ngIf="ticket.status=='InProcess'" class="col col-md-2 text-warning text-center"> In Process </div>
    <div *ngIf="ticket.status=='Testing'" class="col col-md-2 text-secondary text-center"> Testing </div>
    <div *ngIf="ticket.status=='Completed'" class="col col-md-2 text-success text-center"> Completed </div>
    <div *ngIf="ticket.status=='Cancelled'" class="col col-md-2 text-danger text-center"> Cancelled </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>New</h2>
      <div cdkDropList #newList="cdkDropList" [cdkDropListData]="_New" [cdkDropListConnectedTo]="[inProcessList,testingList,completeList,cancelList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of _New" cdkDrag><a class="action-link" 
          href="/ticket/{{item.id}}">{{item.title}}</a></div>
      </div>
    </div>
    <div class="col">
      <h2>In Process</h2>
      <div cdkDropList #inProcessList="cdkDropList" [cdkDropListData]="_InProcess" [cdkDropListConnectedTo]="[newList,testingList,completeList,cancelList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of _InProcess" cdkDrag><a href="/ticket/{{item.id}}">{{item.title}}</a></div>
      </div>
    </div>
    <div class="col">
      <h2>Testing</h2>
      <div cdkDropList #testingList="cdkDropList" [cdkDropListData]="_Testing" [cdkDropListConnectedTo]="[inProcessList,newList,completeList,cancelList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of _Testing" cdkDrag><a href="/ticket/{{item.id}}">{{item.title}}</a></div>
      </div>
    </div>
    <div class="col">
      <h2>Complete</h2>
      <div cdkDropList #completeList="cdkDropList" [cdkDropListData]="_Complete" [cdkDropListConnectedTo]="[inProcessList,testingList,newList,cancelList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of _Complete" cdkDrag><a href="/ticket/{{item.id}}">{{item.title}}</a></div>
      </div>
    </div>
    <div class="col">
      <h2>Cancel</h2>
      <div cdkDropList #cancelList="cdkDropList" [cdkDropListData]="_Cancel" [cdkDropListConnectedTo]="[inProcessList,testingList,completeList,newList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of _Cancel" cdkDrag><a href="/ticket/{{item.id}}">{{item.title}}</a></div>
      </div>
    </div>
  </div>
</div>