<div class="wrapper fadeInDown" *ngIf="!appComp.isLogged">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">

            <img src="../../../assets/logo/bluemine.png" id="icon" alt="Bluemine" />
        </div>

        <!-- Login Form -->
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <input type="text" id="email" class="fadeIn second" [(ngModel)]="model.email" name="login" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" [(ngModel)]="model.password" name="login" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
        </div>

    </div>
</div>