<div class="wrapper fadeInDown" *ngIf="!appComp.isLogged">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">

            <img src="../../../assets/logo/bluemine.png" id="icon" alt="Bluemine" />
        </div>

        <!-- Login Form -->
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <input type="email" id="email" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="fadeIn second form-control" [(ngModel)]="model.email" name="email" placeholder="Email">
            <div [class.d-none]="email.valid || email.untouched" class="text-danger"> * Email is required. </div>

            <input type="password" id="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched" required class="fadeIn third form-control" [(ngModel)]="model.password" name="password" placeholder="Password">
            <div [class.d-none]="password.valid || password.untouched" class="text-danger"> * Password is required. </div>
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
        </div>

    </div>
</div>